* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
  scroll-behavior: smooth;
}

:root {
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);
  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);

  --general-width: 85%;
}

body {
  position: relative;
  background-color: var(--very-light-gray);
  width: 100%;
}

.overlay {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  background: black;
  opacity: 0;
  z-index: 1;
  transition: 0.3s;
}

a {
  text-decoration: none;
}

p {
  color: var(--grayish-blue);
  line-height: 1.5rem;
}

/* NAV BAR */

nav {
  position: fixed;
  width: 100%;
  background-color: var(--white);
  z-index: 10;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--general-width);
  max-width: 1440px;
  margin: 0 auto;
  padding: 1rem;
}

.links {
  display: flex;
}

.links li {
  list-style: none;
  margin: 0.5em;
}

.links li a {
  position: relative;
  color: var(--grayish-blue);
}

.links li a::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0.3rem;
  bottom: -1.9rem;
  left: 50%;
  transform: translateX(-50%);
  background-image: linear-gradient(
    to right,
    var(--lime-green),
    var(--bright-cyan)
  );
  transition: 0.3s ease-out;
}

.links li a:hover {
  color: var(--dark-blue);
}

.links li a:hover::after {
  width: 100%;
}

.btn {
  color: var(--light-grayish-blue);
  background-image: linear-gradient(
    to right,
    var(--lime-green),
    var(--bright-cyan),
    var(--lime-green)
  );
  background-size: 200%;
  padding: 0.8em 2em;
  border-radius: 2rem;
  font-weight: 700;
  transition: 0.4s;
}

.btn:hover {
  opacity: 0.5;
  background-position: right;
}

.hamburger {
  display: none;
  border: none;
  outline: none;
  background: transparent;
  width: 2rem;
  height: 1.5rem;
}

.hamburger img {
  width: 100%;
  height: 100%;
}

.mobile-nav {
  display: none;
  position: fixed;
  top: 4rem;
  left: 50%;
  transform: translate(-50%, -150%);
  width: 95%;
  margin: 0 auto;
  height: max-content;
  background-color: var(--very-light-gray);
  transition: all 0.5s ease;
}

.mobile-nav .links {
  text-align: center;
  flex-direction: column;
  line-height: 2rem;
}

.mobile-nav .links a::after {
  bottom: -0.7rem;
}

/* 
MAIN SITE
========= 
*/

.main {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

/* HOME PAGE */

.home {
  height: calc(100vh - 2rem);
  display: flex;
  align-items: center;
  background-image: url(images/bg-intro-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 520px;
  background-position-y: -170px;
}

.sub-home {
  width: var(--general-width);
  margin: 0 auto;
}

.intro {
  width: 27rem;
  height: max-content;
  padding: 1rem;
  margin-top: 5rem;
  word-wrap: break-word;
}

.intro-title {
  color: var(--dark-blue);
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.intro-para {
  color: var(--grayish-blue);
  margin-bottom: 2.5rem;
}

.intro-img {
  position: absolute;
  overflow: hidden;
  width: 730px;
  top: -1rem;
  right: 0;
}

.intro-img img {
  width: 100%;
  height: auto;
  margin-left: 8.7rem;
}

/* ABOUT SECTION */

.about {
  background-color: var(--light-grayish-blue);
  height: max-content;
}

.sub-about {
  display: flex;
  flex-direction: column;
  width: var(--general-width);
  margin: 0 auto;
}

.about-intro {
  width: 34rem;
  margin: 5rem 0;
}

.about-title {
  color: var(--dark-blue);
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.about-para {
  color: var(--grayish-blue);
}

.facilities {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.facility {
  width: 100%;
}

.facility * {
  margin-bottom: 2rem;
}

.facility h3 {
  font-size: 1.6rem;
  font-weight: 300;
}

/* BLOG POSTS */

.blogs {
  background-color: var(--very-light-gray);
  height: max-content;
}

.sub-blogs {
  width: var(--general-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.blog-title {
  font-size: 2rem;
  font-weight: 700;
  margin: 5rem 0 3rem;
}

.articles {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 4rem;
}

.blog {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  background-color: var(--white);
  border-radius: 0.3rem;
  overflow: hidden;
}

.blog img {
  height: 12rem;
}

.blog span,
.blog h3,
.blog p {
  padding: 0 1rem;
}

.blog span {
  font-size: 0.8rem;
  color: var(--grayish-blue);
}

.blog h3 {
  color: var(--dark-blue);
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 300;
}

.blog h3:hover {
  color: var(--bright-cyan);
}

.blog p {
  padding-bottom: 1rem;
}

/* 
FOOTER
====== 
*/

.footer {
  background-color: var(--dark-blue);
  height: max-content;
  width: 100%;
}

.sub-footer {
  width: var(--general-width);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 0;
}

.sub-footer > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.social {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  cursor: pointer;
}

.social-fill {
  display: none;
}

.sub-footer li {
  list-style: none;
  line-height: 2rem;
}

.sub-footer a {
  color: var(--very-light-gray);
}

.sub-footer ul a:hover {
  color: var(--lime-green);
}

.sub-footer .btn {
  opacity: 0.8;
}

.sub-footer .btn:hover {
  opacity: 1;
}

.copyright {
  color: var(--grayish-blue);
}

/* 
MEDIA QURRIES
=============
*/

@media screen and (max-width: 1150px) {
  .intro-img {
    width: 630px;
  }

  .facility h3 {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 1050px) {
  .intro-img {
    width: 540px;
  }
}

@media screen and (max-width: 980px) {
  :root {
    --general-width: 90%;
  }

  .nav {
    padding-right: 0;
    padding-left: 0;
  }

  .intro {
    margin-top: 0;
    padding: 0;
  }

  .intro-img {
    width: 500px;
  }

  .facilities,
  .articles {
    gap: 0.6rem;
  }

  .facility h3 {
    font-size: 1.25rem;
  }

  .blog img {
    height: 10rem;
  }
}

@media screen and (max-width: 870px) {
  .intro-img {
    width: 450px;
  }
}

@media screen and (max-width: 850px) {
  .home {
    height: 31rem;
  }

  .intro {
    margin-top: 5rem;
  }

  .about-intro {
    margin-bottom: 3rem;
  }

  .facility h3 {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 830px) {
  .intro-img {
    width: 400px;
  }

  .facilities,
  .articles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .facilities h3 {
    font-size: 1.5rem;
  }

  .blog img {
    height: 12rem;
  }
}

@media screen and (max-width: 775px) {
  .nav .btn {
    display: none;
  }

  .nav > .links {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .mobile-nav {
    display: block;
    z-index: 1;
  }

  .home {
    background-image: url(images/bg-intro-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0;
    background-position-y: -12rem;
    height: max-content;
  }

  .intro {
    margin: 30rem auto 3rem;
    text-align: center;
  }

  .intro-img {
    top: -3rem;
    right: 50%;
    transform: translateX(50%);
    width: 450px;
  }

  .intro-img img {
    margin: 0;
  }

  .sub-about {
    text-align: center;
  }

  .about-intro {
    margin-left: auto;
    margin-right: auto;
    width: 27rem;
  }

  .blog-title {
    text-align: center;
  }

  .sub-footer {
    width: max-content;
    margin: 0 auto;
    text-align: center;
    display: grid;
  }

  .sub-footer > div {
    gap: 2rem;
  }

  .logos {
    margin-bottom: 1rem;
  }

  .sub-footer ul + ul {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 540px) {
  .facilities,
  .articles {
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: minmax(auto, 400px);
  }

  .intro,
  .about-intro {
    width: 100%;
  }
}

@media screen and (max-width: 460px) {
  nav {
    max-width: 100%;
  }

  .intro-img {
    width: 100%;
  }
}